.main {
	height: 100%;
	box-sizing: border-box;
	padding-top: 32px;
	display: flex;
	flex-direction: column;
	gap: 32px;

	.asks {
		height: 0;
		flex-grow: 1;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		overflow: auto;
		gap: 2rem;
		box-sizing: border-box;
		padding-top: 0.5rem;
		padding-inline: 0.5rem;
		justify-content: center;
		align-content: flex-start;

		&::-webkit-scrollbar {
			width: 0.313rem;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--secondary-color);
		}
	}

	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 48px;

		button {
			cursor: pointer;
			padding: 16px;
			min-width: 192px;
			box-sizing: border-box;
			border-radius: 8px;
			border: solid 3px var(--secondary-color);
			font-size: 1.5rem;
			font-weight: 600;
		}

		.outlined {
			color: var(--secondary-color);
			background-color: var(--primary-color);
		}

		.filled {
			color: var(--primary-color);
			background-color: var(--secondary-color);
		}
	}
}

@media only screen and (max-width: 800px) {
	.main {
		padding: 16px 24px 24px 16px;

		.asks {
			gap: 1.25rem;
		}

		.buttons {
			gap: 32px;

			button {
				padding: 16px;
				min-width: 160px;
				font-size: 1rem;
				font-weight: 600;
			}
		}
	}
}
