@use "/styles/colors";

.asks-and-buttons {
	height: 100%;
	box-sizing: border-box;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	.asks {
		height: 0;
		flex-grow: 1;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		overflow: auto;
		gap: 2rem;
		box-sizing: border-box;
		padding-top: 0.5rem;
		padding-left: 0.5rem;
		justify-content: center;
		align-content: flex-start;
	}

	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;

		button {
			padding: 1rem;
			min-width: 12rem;
			box-sizing: border-box;
			border-radius: 0.5rem;
			border: solid 0.2rem colors.$secondary;
			font-size: 1.5rem;
			font-weight: 600;

			&:nth-child(1) {
				color: colors.$secondary;
				background-color: colors.$primary;
			}

			&:nth-child(2) {
				color: colors.$primary;
				background-color: colors.$secondary;
			}
		}
	}
}
