.main {
	flex-grow: 1;
	height: 90%;
	display: flex;
	box-sizing: border-box;
	padding-top: 2.5rem;
	gap: 1.875rem;

	svg {
		height: 60%;
		aspect-ratio: 1 / 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		rect {
			height: 100%;
			width: 100%;
		}
	}
}

@media only screen and (max-width: 800px) {
	.main {
		padding: 1.2rem;
		flex-direction: column;
		gap: 1.2rem;
	}
}
