.stats {
	display: flex;
	flex-wrap: wrap;
	padding-block: 56px;
	gap: 56px;
}

@media only screen and (max-width: 800px) {
	.stats {
		padding: 8vw;
		justify-content: space-between;
		gap: 8vw;
	}
}
