.stats {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	padding-block: 3.5rem;
	column-gap: 3.5rem;
	row-gap: 3.5rem;
}

@media only screen and (max-width: 800px) {
	.stats {
		padding: 8vw;
		justify-content: space-between;
		gap: 8vw;
	}
}
