#account-info {
	margin-right: auto;
	width: fit-content;
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	gap: 20px;
	font-size: min(2vw, 1.75rem);

	.row {
		display: flex;
		gap: 5px;
	}

	#days-since-registration {
		display: block;

		span {
			display: none;
		}
	}

	img {
		width: 3em;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
	}
}

@media only screen and (max-width: 800px) {
	#account-info {
		gap: 12px;

		.row {
			p {
				display: none;
			}
		}

		#days-since-registration {
			display: flex;
			font-size: 1rem;

			span {
				display: block;
			}
		}

		img {
			width: 2.5em;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
		}
	}
}
