.font-size-counter {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	h2 {
		font-weight: 400;
		font-size: 1.65rem;
		color: var(--secondary-color);
	}
}

@media only screen and (max-width: 900px) {
	.font-size-counter {
		h2 {
			font-size: 1.25rem;
		}
	}
}
