@use "/styles/colors";
#header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-bottom: colors.$secondary 0.313rem solid;
	padding: 2rem 1rem;

	h1 {
		font-weight: 500;
		position: absolute;
		color: colors.$secondary;
		font-size: min(4vw, 3rem);
	}

	a {
		text-decoration: underline;
		color: colors.$secondary;
		font-size: min(1.5vw, 1.5rem);
	}
}

@media only screen and (max-width: 800px) {
	#header {
		padding: 0.75rem 1.5rem;
		border-bottom-width: 0.2rem;

		h1 {
			font-size: 1.5rem;
		}

		a {
			font-size: 1rem;
		}
	}
}
