.theme-changer {
	width: 350px;
	height: 60px;
	background-color: var(--secondary-color);
	color: var(--text-color);
	text-transform: uppercase;
	border: none;
	border-radius: 8px;
	font-size: 1.35rem;
	font-weight: 700;
	cursor: pointer;
}

@media only screen and (max-width: 900px) {
	.theme-changer {
		width: 265px;
		height: 45px;
		font-size: 1.15rem;
	}
}
