.accountInfo {
	margin-right: auto;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	gap: 1.25rem;
	font-size: 1.75rem;
	div {
		display: flex;
		gap: 0.313rem;
		p {
			display: block;
		}
		.date {
			display: block;
			span {
				display: none;
			}
		}
	}
	img {
		height: 4rem;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
	}
}

@media only screen and (max-width: 800px) {
	.accountInfo {
		gap: 0.2rem;
		div {
			p {
				display: none;
			}
			.date {
				display: flex;
				font-size: 1rem;
				span {
					display: block;
				}
			}
		}
		img {
			height: 2.5rem;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
		}
	}
}
