@use "colors";

#account-info {
	margin-right: auto;
	width: fit-content;
	display: flex;
	align-items: center;
	color: colors.$secondary;
	gap: 1.25rem;
	font-size: min(2vw, 1.75rem);
	.row {
		display: flex;
		gap: 0.313rem;
	}

	#days-since-registration {
		display: block;
		span {
			display: none;
		}
	}

	img {
		width: 3em;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
	}
}

@media only screen and (max-width: 800px) {
	#account-info {
		gap: 0.75rem;
		.row {
			p {
				display: none;
			}
		}

		#days-since-registration {
			display: flex;
			font-size: 1rem;

			span {
				display: block;
			}
		}

		img {
			width: 2.5rem;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
		}
	}
}
