@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-Thin.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-ExtraLight.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-Light.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-Regular.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-Medium.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-SemiBold.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-Bold.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-ExtraBold.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-Black.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-ThinItalic.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-ExtraLightItalic.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-LightItalic.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-Italic.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-MediumItalic.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-SemiBoldItalic.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-BoldItalic.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-ExtraBoldItalic.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: Kanit;
	src: url("../public/fonts/Kanit-BlackItalic.ttf");
	font-family: "Kanit", sans-serif;
	font-weight: 900;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
}
:root {
	--primary-color: #ec7373;
	--secondary-color: white;
	--text-color: black;
	color: var(--text-color);
	--font-size: 16px;
	font-size: var(--font-size);
}

html {
	font-family: Kanit;
	font-weight: 300;
	width: 100%;
	height: 100%;
}

html,
body,
#__next {
	height: 100%;
}
#__next {
	display: flex;
	flex-direction: column;
}

body {
	padding-inline: 2.5rem;
	padding-bottom: 2.5rem;
	box-sizing: border-box;
	background-color: var(--primary-color);
}

main {
	flex-grow: 1;
}

@media only screen and (max-width: 800px) {
	body {
		padding: 0;
	}
}
