.main {
	flex-grow: 1;
	height: 90%;
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	padding-top: 2.5rem;
	gap: 1.875rem;
}

@media only screen and (max-width: 800px) {
	.main {
		padding: 2rem;
		flex-direction: column;
		gap: 2rem;
	}
}
