.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-bottom: white 0.313rem solid;
	padding: 2rem 0;
	.h1 {
		position: absolute;
		width: fit-content;
		height: fit-content;
		color: white;
		font-size: 3rem;
	}
}
.main {
	height: 90%;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding-top: 2.5rem;
	gap: 1.875rem;
}

@media only screen and (max-width: 600px) {
	.header {
		height: 10vh;
	}
	.main {
		height: 90vh;
	}
}
