.Link-card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 100%;
	background-color: white;
	border-radius: 0.313rem;

	h2 {
		position: absolute;
		top: 6.75%;
		color: #ec7474;
		font-size: 2.5rem;
	}

	.circles {
		top: -5%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 50%;
		width: 100%;

		.circle {
			background-color: #ec7474;
			aspect-ratio: 1 /1;
			border-radius: 50%;
		}
		& .circle:nth-child(1) {
			position: relative;
			height: 54%;
		}
		& .circle:nth-child(2) {
			height: 22%;
		}
		& .circle:nth-child(3) {
			height: 7.5%;
		}
	}
}
@media only screen and ((max-height: 700px) or (max-width: 900px)) {
	/* making sure linkcard headers dont overlap */
	.Link-card {
		h2 {
			font-size: 1.75rem;
		}
	}
}

@media only screen and (max-width: 800px) {
	.Link-card {
		justify-content: flex-start;
		width: 100%;
		height: 15%;
		h2 {
			top: auto;
			right: 5%;
		}
		flex-direction: row;
		.circles {
			top: 0;
			flex-direction: row;
			justify-content: space-evenly;
			height: 100%;
			width: 50%;

			& .circle:nth-child(1) {
				height: 70%;
			}
			& .circle:nth-child(2) {
				height: 38%;
			}
			& .circle:nth-child(3) {
				height: 20%;
			}
		}
	}
}
